main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

aside {
    flex-basis: 30%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

article {
    flex-basis: 70%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

footer {
    margin-top: 1rem;
}